body {
    background-image: url('../Imagenes/Diseño\ sin\ título.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    justify-content: center;
}

/* ----------HEAD---------*/
.nav-contenedor {
    display: flex;
    justify-content: space-between; /* Separa los elementos */
    align-items: center; /* Centra verticalmente */
    padding: 10px; /* Espaciado opcional */
}

.cajabuscar{
    width: 100%;
}

.cajabuscar h1 {
    text-align: center;
    margin-bottom: 25px;
    color: rgb(126, 175, 116);
    font-size: 20px;
}

.boton-envio {
    text-decoration: none;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    margin-left: auto; /* Empuja el botón a la derecha */
}

.cajabuscar fieldset{
    background-color: black;
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    padding: 20px;
    margin: 0;
    width: 100%;
}

.cajabuscar input,
.cajabuscar select{
    padding: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}

.cajabuscar button{
    padding: 8px 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cajabuscar button:hover{
    background-color: #45a049;
}

main{
    width: 100%;
    margin: 50px auto;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 8px;
}

table{
    width: 100%;
    border-collapse: collapse;
    background-color: #000;
    color: white;
    margin-top: 5px;
}
th, td{
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #333;
}

th{
    background-color: #222;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
}

th:hover{
    background-color: #111;
}

section h1{
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}

.pagado{
    color: #4caf50;
    font-weight: bold;
}
.cancelado {
    color: #F44336;
    font-weight: bold;
}

.enviado {
    color: #2196F3; 
    font-weight: bold;
}

.entregado {
    color: #9C27B0; 
    font-weight: bold;
}
.pendiente {
    color: #FFC107;
    font-weight: bold;
}

/*-----formulario----*/

.contenedor-formulario{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container{
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;  
}

.form-container h1 {
    text-align: center;
    margin-bottom: 25px;
    color: rgb(126, 175, 116);
    font-size: 20px;
}

.form-group{
    margin-bottom: 20px;
}

.form-group label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: rgb(126, 175, 116);
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="number"],
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.radio-group{
    display: flex;
    gap: 20px;
    margin-top: 8px;
}

.radio-group label { 
    color: black;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: normal;
    cursor: pointer;
}

.form-group button {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #218838;
}


/*---------footer-------*/

footer{
    background-color: #000;
    color: #fff;
    padding: 20px 15px;
    text-align: center;
    margin-top: 20px;
    border-top: 20px solid #4caf50;
    width: 100%;
}

footer address{
    font-style: normal;
    margin-top: 10px;
}

footer a{
    color: #4caf50;
}

